<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>{% block title %}Almacen{% endblock %}</title>
</head>

<body>
    <div class="navbar-container">
        <div class="navbar">
            <div class="navbar-left">                
                <div>Almacén Médico</div>
                
            </div>
            <div class="navbar-right">
                
                <div class="sign-in">Inicia sesión</div>
                <div class="join-now">Regístrate</div>
            </div>
        </div>
    </div>

    

</body>

<div class="content">
    {% block content %}
    
    {% endblock %}
</div>


</html>
